# Gradle and Build
.gradle/
build/

# Local configuration
local.properties

# Android Studio / IntelliJ
*.iml
.idea/workspace.xml
.idea/libraries/
.idea/caches/
.idea/modules.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/shelf/
.idea/deploymentTargetDropDown.xml
.idea/deploymentTargetSelector.xml
.idea/deviceManager.xml
.idea/studiobot.xml

# External native builds
.externalNativeBuild/
.cxx/

# Captures and logs
captures/
*.log

# OS specific
.DS_Store

# Signing files (security)
*.jks
*.keystore
